version: '2'
services:
  soulseek:
    container_name: soulseek
    image: realies/soulseek
    restart: unless-stopped
    environment:
      - pgid=1000
      - puid=1000
      - resize=scale
      - resolution=1280x720
    ports:
      - 6080:6080
    volumes:
      - appdata:/data/.SoulseekQt
      - downloads:/data/Soulseek Downloads
      - logs:/data/Soulseek Chat Logs
volumes:
  appdata:
  downloads:
  logs:
