version: '2'
services:
  soulseek:
    build: .
    environment:
      - resize=scale
      - resolution=1280x720
    ports:
      - 6080:6080
    volumes:
      - appdata:/root/.SoulseekQt
      - logs:/root/Soulseek Chat Logs
      - downloads:/root/Soulseek Downloads
volumes:
  appdata:
  logs:
  downloads:
